.display-1 {
  margin-top: 0;
}
.display-1 img {
  height: 140px;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-loop {
  height: 140px;
  width: auto;
  margin-top: 30px;
}

.header-slogan {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 10%;
}

.md-br {
  display: none;
}
@media all and (max-width: 1280px) {
  .display-1 img,
  .img-loop {
    height: 120px;
  }
}

@media all and (max-width: 992px) {
  .display-1 img,
  .img-loop {
    height: 90px;
  }

  .md-br {
    display: block;
    height: 5px;
  }
}

@media all and (max-width: 767px) {
  .display-1 {
    margin-top: -50px;
  }

  .display-1 img,
  .img-loop {
    height: 80px;
  }

  .img-loop {
    margin-bottom: 30px;
  }

  .header-slogan {
    margin-top: 0;
  }
}
